# Exploring the Music Datasets

In [1]:
import pandas as pd

In [2]:
!pwd

/Users/auraulloa/Desktop/DataSciencePipeline

In [9]:
path = '/Users/auraulloa/Desktop/DataSciencePipeline/'
dig_music_path = path + 'amazon_dataset/amazon_reviews_us_Digital_Music.tsv'
music_path = path + 'amazon_dataset/amazon_reviews_us_Music.tsv'

In [10]:
music_df = pd.read_csv(music_path, delimiter = '\t', quoting = 3)

In [11]:
digital_music_df = pd.read_csv(dig_music_path, delimiter = '\t', quoting = 3)

In [12]:
music_df.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,10140119,R3LI5TRP3YIDQL,B00TXH4OLC,384427924,Whatever's for Us: Remastered,Music,5,0,0,N,Y,Five Stars,Love this CD along with other CDs by the same ...,2015-08-31
1,US,27664622,R3LGC3EKEG84PX,B00B6QXN6U,831769051,Same Trailer Different Park,Music,5,0,0,N,Y,A new fave in our house,This is the album that introduced me to Kacey ...,2015-08-31
2,US,45946560,R9PYL3OYH55QY,B001GCZXW6,14067376,Soaring (Jazz Club),Music,5,0,1,N,Y,Five Stars,Excellent / thanks,2015-08-31
3,US,15146326,R3PWBAWUS4NT0Q,B000003EK6,566295619,CARIBBEAN PARTY,Music,3,0,0,N,Y,Three Stars,Nice variety of caribbean artists.,2015-08-31
4,US,16794688,R15LYP3O51UU9E,B00N1F0BKK,210426072,Pain Killer,Music,5,0,0,N,Y,Five Stars,Purchased as a gift and they loved this cd,2015-08-31

In [13]:
digital_music_df.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,10293599,R14LVB34Z2Z53I,B000YMOQZY,262935067,Knockin' On Heaven's Door,Digital_Music_Purchase,5,0,0,N,Y,favorites,Great rendition. Great song,2015-08-31
1,US,6087195,R2M0R9CWPC82LT,B00ISAEC80,452318038,Flawless,Digital_Music_Purchase,5,0,0,N,Y,Five Stars,A good music to listen.,2015-08-31
2,US,33717063,RQNQI2R3BM52A,B00VBB6AVU,675969129,Scandal of Grace,Digital_Music_Purchase,4,0,0,N,Y,Good,Not as good as the original but I needed to he...,2015-08-31
3,US,14948020,RTUIX1135HUAB,B008A5POJO,282925893,I Surrender (Live),Digital_Music_Purchase,5,0,0,N,Y,Wonderful lyrics! Makes you feel like praying,Time to worship and surrender with this song. ...,2015-08-31
4,US,21694522,RE3QSAT8TL010,B014CW2RN4,109077793,We Are Young (Jersey Club),Digital_Music_Purchase,4,0,0,N,Y,Hot remix but took short,So this should be longer....but love this song:),2015-08-31

In [ ]:
# seems like music downloads are done per song rather than album, this might screw with comparisons

In [14]:
len(music_df)

4751577

In [15]:
len(digital_music_df)

1688884

In [16]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4751577 entries, 0 to 4751576
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   marketplace        object
 1   customer_id        int64
 2   review_id          object
 3   product_id         object
 4   product_parent     int64
 5   product_title      object
 6   product_category   object
 7   star_rating        int64
 8   helpful_votes      int64
 9   total_votes        int64
 10  vine               object
 11  verified_purchase  object
 12  review_headline    object
 13  review_body        object
 14  review_date        object
dtypes: int64(5), object(10)
memory usage: 543.8+ MB

In [ ]:
# somehow even cleaner than videos since some of the numerical vals are already converted 
# from generic objects

In [18]:
digital_music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1688884 entries, 0 to 1688883
Data columns (total 15 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   marketplace        1688884 non-null  object
 1   customer_id        1688884 non-null  int64
 2   review_id          1688884 non-null  object
 3   product_id         1688884 non-null  object
 4   product_parent     1688884 non-null  int64
 5   product_title      1688884 non-null  object
 6   product_category   1688884 non-null  object
 7   star_rating        1688884 non-null  int64
 8   helpful_votes      1688884 non-null  int64
 9   total_votes        1688884 non-null  int64
 10  vine               1688884 non-null  object
 11  verified_purchase  1688884 non-null  object
 12  review_headline    1688833 non-null  object
 13  review_body        1688823 non-null  object
 14  review_date        1688884 non-null  object
dtypes: int64(5), object(10)
memory usage: 193.3+ MB

In [19]:
music_df.describe()

        customer_id  product_parent   star_rating  helpful_votes   total_votes
count  4.751577e+06    4.751577e+06  4.751577e+06   4.751577e+06  4.751577e+06
mean   3.424994e+07    5.006262e+08  4.436624e+00   2.661673e+00  3.798425e+00
std    1.498002e+07    2.882080e+08  1.035925e+00   7.791572e+00  9.421686e+00
min    1.009900e+04    7.340000e+02  1.000000e+00   0.000000e+00  0.000000e+00
25%    2.047946e+07    2.510092e+08  4.000000e+00   0.000000e+00  0.000000e+00
50%    3.669898e+07    5.003334e+08  5.000000e+00   1.000000e+00  1.000000e+00
75%    4.925116e+07    7.512355e+08  5.000000e+00   3.000000e+00  4.000000e+00
max    5.309659e+07    9.999998e+08  5.000000e+00   2.181000e+03  2.246000e+03

In [20]:
digital_music_df.describe()

        customer_id  product_parent   star_rating  helpful_votes   total_votes
count  1.688884e+06    1.688884e+06  1.688884e+06   1.688884e+06  1.688884e+06
mean   2.864549e+07    4.989743e+08  4.642891e+00   5.002878e-01  7.248224e-01
std    1.492145e+07    2.882660e+08  8.604528e-01   2.958235e+00  3.792770e+00
min    1.012800e+04    2.457000e+03  1.000000e+00   0.000000e+00  0.000000e+00
25%    1.515693e+07    2.491138e+08  5.000000e+00   0.000000e+00  0.000000e+00
50%    2.775266e+07    4.992678e+08  5.000000e+00   0.000000e+00  0.000000e+00
75%    4.255546e+07    7.485598e+08  5.000000e+00   0.000000e+00  0.000000e+00
max    5.309657e+07    9.999997e+08  5.000000e+00   6.090000e+02  7.360000e+02

In [21]:
digital_music_df['product_category'].unique()

array(['Digital_Music_Purchase'], dtype=object)

In [22]:
music_df['product_category'].unique()

array(['Music'], dtype=object)

In [23]:
digital_music_df.isna().sum()

marketplace           0
customer_id           0
review_id             0
product_id            0
product_parent        0
product_title         0
product_category      0
star_rating           0
helpful_votes         0
total_votes           0
vine                  0
verified_purchase     0
review_headline      51
review_body          61
review_date           0
dtype: int64

In [25]:
music_df.isna().sum()

marketplace            0
customer_id            0
review_id              0
product_id             0
product_parent         0
product_title          1
product_category       0
star_rating            0
helpful_votes          0
total_votes            0
vine                   0
verified_purchase      0
review_headline      165
review_body           33
review_date            0
dtype: int64

In [ ]:
#similarly negligible missing data like our video data

In [26]:
digital_music_df.isnull().sum()

marketplace           0
customer_id           0
review_id             0
product_id            0
product_parent        0
product_title         0
product_category      0
star_rating           0
helpful_votes         0
total_votes           0
vine                  0
verified_purchase     0
review_headline      51
review_body          61
review_date           0
dtype: int64

In [27]:
music_df.isnull().sum()

marketplace            0
customer_id            0
review_id              0
product_id             0
product_parent         0
product_title          1
product_category       0
star_rating            0
helpful_votes          0
total_votes            0
vine                   0
verified_purchase      0
review_headline      165
review_body           33
review_date            0
dtype: int64

In [28]:
music_df.eq('').sum()

marketplace          0
customer_id          0
review_id            0
product_id           0
product_parent       0
product_title        0
product_category     0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
review_headline      0
review_body          0
review_date          0
dtype: int64

In [29]:
digital_music_df.eq('').sum()

marketplace          0
customer_id          0
review_id            0
product_id           0
product_parent       0
product_title        0
product_category     0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
review_headline      0
review_body          0
review_date          0
dtype: int64

In [ ]:
# i also highly doubt these products can be grouped given that digital sells per song while
# physical does per album

In [30]:
music_df["year"] = music_df["review_date"].map(lambda x: str(x)[:4])

In [31]:
music_counts = music_df.groupby("year").count()

In [32]:
music_counts

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
year,,,,,,,,,,,,,,,
1995,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1996,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
1997,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106
1998,35383,35383,35383,35383,35383,35383,35383,35383,35383,35383,35383,35383,35383,35383,35383
1999,120626,120626,120626,120626,120626,120626,120626,120626,120626,120626,120626,120626,120623,120626,120626
2000,268113,268113,268113,268113,268113,268113,268113,268113,268113,268113,268113,268113,268111,268113,268113
2001,227283,227283,227283,227283,227283,227283,227283,227283,227283,227283,227283,227283,227282,227283,227283
2002,227880,227880,227880,227880,227880,227880,227880,227880,227880,227880,227880,227880,227880,227880,227880
2003,275278,275278,275278,275278,275278,275278,275278,275278,275278,275278,275278,275278,275277,275278,275278
2004,271643,271643,271643,271643,271643,271643,271643,271643,271643,271643,271643,271643,271641,271643,271643
2005,281125,281125,281125,281125,281125,281125,281125,281125,281125,281125,281125,281125,281059,281125,281125
2006,217986,217986,217986,217986,217986,217986,217986,217986,217986,217986,217986,217986,217939,217986,217986
2007,232430,232430,232430,232430,232430,232430,232430,232430,232430,232430,232430,232430,232425,232430,232430
2008,198916,198916,198916,198916,198916,198916,198916,198916,198916,198916,198916,198916,198914,198916,198916
2009,202242,202242,202242,202242,202242,202242,202242,202242,202242,202242,202242,202242,202241,202242,202242
2010,182780,182780,182780,182780,182780,182780,182780,182780,182780,182780,182780,182780,182780,182780,182780
2011,190083,190083,190083,190083,190083,190083,190083,190083,190083,190083,190083,190083,190081,190083,190083
2012,241332,241332,241332,241332,241332,241332,241332,241332,241332,241332,241332,241332,241304,241332,241332
2013,476623,476623,476623,476623,476623,476623,476623,476623,476623,476623,476623,476623,476620,476623,476623
2014,601489,601489,601489,601489,601489,601489,601489,601489,601489,601489,601489,601489,601488,601485,601489
2015,500254,500254,500254,500254,500254,500253,500254,500254,500254,500254,500254,500254,500253,500225,500254

In [33]:
digital_music_df["year"] = digital_music_df["review_date"].map(lambda x: str(x)[:4])

In [34]:
dig_music_counts = digital_music_df.groupby("year").count()

In [35]:
dig_music_counts

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
year,,,,,,,,,,,,,,,
2000,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2001,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2002,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2003,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
2004,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
2005,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
2006,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
2007,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312,2312
2008,23081,23081,23081,23081,23081,23081,23081,23081,23081,23081,23081,23081,23081,23081,23081
2009,36702,36702,36702,36702,36702,36702,36702,36702,36702,36702,36702,36702,36702,36702,36702
2010,41258,41258,41258,41258,41258,41258,41258,41258,41258,41258,41258,41258,41258,41258,41258
2011,59206,59206,59206,59206,59206,59206,59206,59206,59206,59206,59206,59206,59205,59206,59206
2012,201365,201365,201365,201365,201365,201365,201365,201365,201365,201365,201365,201365,201356,201365,201365
2013,461199,461199,461199,461199,461199,461199,461199,461199,461199,461199,461199,461199,461162,461199,461199
2014,505767,505767,505767,505767,505767,505767,505767,505767,505767,505767,505767,505767,505764,505757,505767
2015,357947,357947,357947,357947,357947,357947,357947,357947,357947,357947,357947,357947,357946,357896,357947

In [ ]:
# this will work

# Todo
### 1. make graphics of attribute distributions
### 2. pare out years